<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lsproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.zxzy.bdzy.BdzyDetailActivity"></activity>
        <activity android:name=".activity.zxzy.bdzy.SearchActivity" />
        <activity android:name=".activity.zxzy.qszy.QszyActivity" />
        <activity android:name=".activity.zxzy.ykzy.YkzyActivity" />
        <activity android:name=".activity.zxzy.bdzy.BdzyActivity" />
        <activity android:name=".activity.zxzy.ZxzyActivity" />
        <activity android:name=".activity.yxxx.KcpjActivity" />
        <activity android:name=".activity.yxxx.KcmlActivity" />
        <activity android:name=".activity.yxxx.KcmsActivity" />
        <activity android:name=".activity.yxxx.YxxxDetailActivity" />
        <activity android:name=".activity.yxxx.YxxxActivity" />
        <activity android:name=".activity.ycpx.xxpxcx.XxpxcxActivity" />
        <activity android:name=".activity.ycpx.xxda.XxdaActivity" />
        <activity android:name=".activity.ycpx.dcwj.TjjgActivity" />
        <activity android:name=".activity.ycpx.dcwj.DcwjActivity" />
        <activity android:name=".activity.ycpx.pxsq.PxsqActivity" />
        <activity android:name=".activity.ycpx.wdpx.EditEvaActivity" />
        <activity android:name=".activity.ycpx.wdpx.LessionEvaActivity" />
        <activity android:name=".activity.main.WebActivity" />
        <activity android:name=".activity.ycpx.wdpx.LessonListActivity" />
        <activity android:name=".activity.dsjfx.DsjfxActivity"></activity>
        <activity android:name=".activity.main.Main2Activity" /> <!-- 其他的配置项 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.lsproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 其他的配置项 -->
        <activity android:name=".activity.ycpx.wdpx.WdpxDetailActivity" />
        <activity android:name=".activity.ycpx.wdpx.WdpxActivity" />
        <activity android:name=".activity.ycpx.pxjh.PxjhDetailActivity" />
        <activity android:name=".activity.ycpx.pxjh.PxjhActivity" />
        <activity android:name=".activity.ycpx.YcpxActivity" />
        <activity android:name=".activity.xskq.XskqDetailActivity" />
        <activity android:name=".activity.xskq.XskqActivity" />
        <activity
            android:name=".activity.main.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>